mixin footer()
    footer(style='min-height: 60px; background: black;')
        br
        p.text-center.navbar-fontcolor(style='font-size:18px;')
            small #[strong © ] 2019 Compilador - Natália Favareto
