mixin navbar()
    nav.navbar.navbar-expand-lg(style='min-height: 80px; background: black; ')
        .navbar-brand.navbar-fontcolor  
            img.d-inline-block(src='/images/code.svg', width='40', height='40', alt='')
            |  #[strong Compilador] #[span(style='font-size:13px;') v1.0.0] 
        #navbarNavAltMarkup.collapse.navbar-collapse 
            .navbar-nav.navbar-fontcolor  
                a.nav-item.nav-link.active(href='#')
                    img.d-inline-block(src='/images/play.svg' width='28' height='28' alt='')
                a.nav-item.nav-link.active(href='#')
                    img.d-inline-block(src='/images/open-folder.svg' width='28' height='28' alt='')


