mixin navbar()
    nav.navbar.navbar-expand-lg(style='min-height: 80px; background: black; ')
        .navbar-brand.navbar-fontcolor  
            img.d-inline-block(src='/images/code.svg', width='40', height='40', alt='')
            |  #[strong Compilador] #[span(style='font-size:13px;') v1.0.0] 
        #navbarNavAltMarkup.collapse.navbar-collapse 
            .navbar-nav.navbar-fontcolor
                // form.nav-item.nav-link.active(action="/analise-lexica", method="post" target='_blank')  
                button(type="button" style='background-color:transparent; border:0')
                    img.d-inline-block(src='/images/play.svg' width='28' height='28' alt='' id="compilar")
                li.nav-item
                    form#aquivoExterno(method='post', enctype='multipart/form-data')
                        a.nav-link
                            label(for='arq_uploads')
                                img.d-inline-block(src='/images/open-folder.svg' width='28' height='28' alt='')
                            input#arq_uploads(type='file', name='arq_uploads', accept='.txt', style='opacity: 0')
            

mixin navbarDefault()
    nav.navbar.navbar-expand-lg(style='min-height: 80px; background: black; ')
        .navbar-brand.navbar-fontcolor  
            img.d-inline-block(src='/images/code.svg', width='40', height='40', alt='')
            |  #[strong Análise Léxica ]  