mixin previewCode()
    // seção de saida de erros
    section.row.p-0.m-0.border-top.border-top-info.bg-dark.p-2
        // Nav-tab console e tabela de simbolos
        nav
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#console', role='tab', aria-controls='console', aria-selected='true') Console
                a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#tabela', role='tab', aria-controls='tabela', aria-selected='false') Tabela
        #nav-tabContent.tab-content.col-md-12.bg-white
            // Console
            #console.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab')
                | Olá seja bem vindo ao Vincius Studio Code !!! 
                br
                |                     Editor oficial do Chico# ...
            // Tabela
            #tabela.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab')
