mixin table()
    .card.card-body
        .table-wrapper-scroll-y.my-custom-scrollbar.table-center(style='height:500px;')
            table.table.table-bordered.table-striped.mb-0
                thead
                    tr
                        th(scope='col') Linha
                        th(scope='col') Cadeia
                        th(scope='col') Token
                tbody
                    tr
                        td(scope='row') 1
                        td Mark
                        td Otto
                    

                    
               
