mixin terminal()
    section.terminal.rounded
        .text-white.terminal-bgheader
            .card-header.terminal-textheader(style='font-size:17px;') #[strong Terminal] 

        .form-group.m-0
            textarea.form-control.terminal-textarea.m-0(rows=20 readonly='' )

            

