include ./mixins/head
include ./mixins/footer
include ./mixins/loading
include ./mixins/scripts
include ./mixins/editor
include ./mixins/terminal
include ./mixins/navbar

doctype html
html(lang="pt-br")
    block head
        +head()
        title Compilador

    body
        block navbar
            +navbar()
        #inner-box
            //- block loading   
            //-     +loading-animation()
            block editor
                +editor()

            block terminal
                +terminalNew()
        
        block footer
            +footer()
        
        block scripts   
            +scriptsBody()
