include ./mixins/head
include ./mixins/footer
include ./mixins/loading
include ./mixins/scripts
include ./mixins/editor
include ./mixins/preview
include ./mixins/navbar

doctype html
html(lang="pt-br")
    block head
        +head()

    body
        block navbar
            +teste()
        #inner-box
            //- block loading   
            //-     +loading-animation()
            block editor
                +editor()

            block preview
                +previewCode()
        
        block footer
            +footer()
        
        block scripts   
            +scriptsBody()
