include ./mixins/head
include ./mixins/footer
include ./mixins/loading
include ./mixins/scripts
include ./mixins/navbar
include ./mixins/table

doctype html
html(lang="pt-br")
    block head
        +head()
        title Análise Léxica

    body
        block navbar
            +navbarDefault()
        
        block table
            +table()
       
        
        block footer
            +footer()
        
        block scripts   
            +scriptsBody()
