
* {
    padding-left: 0px;
    margin-left: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    
}

#console {
    height: 50vh;
    overflow-y: scroll;
}

#console::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #343a40;
}

#console::-webkit-scrollbar
{
	width: 10px;
	background-color: #343a40;
}

#console::-webkit-scrollbar-thumb
{
	background-color: #343a40;
	border: 2px solid #555555;
}


#tabela {
    height: 22vh;
    overflow-y: scroll;
}

#tabela::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #343a40;
}

#tabela::-webkit-scrollbar
{
	width: 10px;
	background-color: #343a40;
}

#tabela::-webkit-scrollbar-thumb
{
	background-color: #343a40;
	border: 2px solid #555555;
}


#code {
    flex: 1;
    overflow-y: scroll;
}

#code::-webkit-scrollbar-track
{
	
	background-color: rgba(0,0,0,0.2);
}

#code::-webkit-scrollbar
{
	width: 20px;
	background-color: #3a3d41;
}

#code::-webkit-scrollbar-thumb
{
	background-color: #555555;
	border: 2px solid #555555;
}

p {

    outline: none;
}

#contador_linha {
    height: 24px;
}

#editor {
    color: #555555;
}

#linha { 
    white-space: pre-wrap;
}

#linha > div {
    height: 24px;
}


form label,
form button {
    background-color: transparent;
    height: 0px;
}


#linha > div:focus{
    background: #3a3d41;
}
#linha > div::selection{
    background: #0662d2;
}
#linha > div:hover{
    background: #3a3d41;
    border: 1px solid #3a3d41;
}

#inner-box {
        display: inline-flex;
        margin:0;
        padding:0;
        width:100%;
        height:100%;
} 

.error-line{
    border: 1px solid #ff0000;
}

.navbar-fontcolor{
    color:#ffff;
}

.terminal{
    width:50%;
    border-radius: 20px;
}

.terminal-bgheader{
    background:black;
    border: 1px solid #86d1fe;
    
}

.terminal-textheader{
    color: #cb71dd;
}

.terminal-textarea{
    resize: none;
}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.table-center{
    text-align: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
  }
.table-wrapper-scroll-y {
    display: block;
}